.no_results {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.search_container {
  background-color: #111111;
  padding: 15px;
  height: auto;
  max-width: 1500px;
  margin: 100px auto 0px auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  transition: all 1s;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media screen and (max-width: 1560px) {
    max-width: 1200px;

    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1300px) {
    max-width: 1000px;

    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1050px) {
    max-width: 850px;

    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 850px) {
    max-width: 700px;

    grid-template-columns: repeat(2, 1fr);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(17, 17, 17, 0.067);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%;
    border-radius: 10px;
    background-color: #e7e7e7;
  }
}
.movie {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    scale: 1.1;
    box-shadow: rgba(4, 41, 83, 0.3) 0px 0px 0px 3px;
  }
}
.movie_poster {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
